@import 'elf'

#Container 
  width: auto;
  max-width: 1410px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  
//Error input Form Handeling
.input, .error
  width: 70%
//Error Label
label[class~="error"]
  span(1/1)
  shift(1/4)
  animation: fadeIn 2s
  animation-fill-mode:forwards;
  margin-top: 2px
  left: 0% !important
  color: red
  background: rgba(250, 10, 10, 0.03)
  border: 1px solid rgba(250, 10, 10, 0.10)
  border-radius: 3px;
//If an error has occured the icon will also turn red
.error
  .icon
    color: darken(red, 10%)
    
// .segmantStyle
//   box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15), 0px 1px 2px 0 rgba(0, 0, 0, 0.05)


