@import 'elf'
//debug(color=blue)

///////////////////////
// Error positioning
///////////////////////
#ErrorMessage
  position fixed
  bottom: 0
  transform: translate(-50%);
  left: 50%

.message
  width: 300px

///////////////////////
// Error animation
///////////////////////
.alert {
  animation: fadeOut 4000ms ease-in 0s 1 forwards;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}