@import 'elf'
//debug(color = blue)

///////////////////////
// Rcover Container
///////////////////////
#recoverP_Container
  cf()
  
///////////////////////
// Header Ttitle
///////////////////////
.recoverP_Title
  align-children(direction =horizontal)
  i
    font-size: 6em !important

///////////////////////
// Form Input
///////////////////////
.recoverP_InputContainer
  column(1)
  align-children(direction =horizontal)
  .emailInput
    column(1/3)
    margin-right: 0 !important
    margin-top: 15px
    min-height: 80px
    i
      font-size: 1.5em !important
      height: 52px !important
      margin-left: 5px !important


.recoverButtons_Container
  column(1)
  cf()
  align-children(direction =horizontal)
  padding-top: 5px
    

///////////////////////
// Succsess Message
///////////////////////
#recoverP_Success
  column(1)
  align-children(direction =horizontal)
  margin-top: 50px
  opacity: 0
  text-align: center
  .recoverP_Success_Container
    column(1)
  h2
    font-size: 3em
    color: green
    .sub
      font-size: 1em
  .button
    column(1)

//Sucsess Fadein Class
.fadeIn
  animation: fadeIn 3s
  animation-fill-mode:forwards;
  

