<template name="recoverPassword">

<!-- Recover Password Container -->
  <div id="recoverP_Container">
    
<!-- Header Title -->
    <div class="recoverP_Title">
      <h2 class="ui icon header">
      <i class="unlock alternate icon"></i>
        <div class="content">
          Recover Password
          <div class="sub header">Enter the email address associated with your account below and click the "Recover Password" button. <br> You will receive an email with further instructions on how to reset your password.</div>
        </div>
      </h2>
    </div>

<!-- Form Input -->
    <form class="recoverP_InputContainer" id="recoverPassword">
<!-- Email Input -->
      <div class="ui left icon huge input emailInput">
         <!-- <label>Email Address</label> -->
        <input type="email" name="emailAddress" class="form-control" placeholder="Email Address" id="recoverP_emialInput">
        <i class="mail icon"></i>
      </div> 
<!-- Buttons -->
      <div class="recoverButtons_Container">
        <div class="ui huge buttons recoverButtons">
            {{#linkTo route="index.link"}}
              <div class="ui button negative" id="recoverP_Cancle">Cancel</div>
            {{/linkTo}}
          <div class="or"></div>
          <input class="ui button positive" type="submit" id="recoverP_Recover" value="Recover">
        </div> 
      </div>
    </form>
  </div>

<!-- Succsess Message -->
  <div id="recoverP_Success">
    <div class="recoverP_Success_Container">
      <h2 class="ui icon header">
      <i class="unlock alternate icon"></i>
        <div class="content">
        Recover Password Success
          <div class="sub header">
            Please check your email for your password recovery link
          </div>
        </div>
      </h2>
    </div>
    {{#linkTo route="index.link"}}
      <div class="massive ui button">
        Back To Login
      </div>
    {{/linkTo}}
  </div>

<!-- Error Handeling -->
  <div id="ErrorMessage">
    {{> ErrorMessage}}
  </div>
</template>
