<template name="register">
<!-- Header Title -->
  <div class="registerTitle_Container">
    <h2 class="ui icon header">
    <i class="angle double down icon"></i>
    <div class="content">
      register for the future
      <div class="sub header">Set your mind free</div>
    </div>
  </h2>
  </div>

<!-- Form Segment -->  
  <div class="ui segment register_Container">
    <form class="registerForm" id="register_Form">

    <!-- Username Input -->
      <div class="field">
        <label for="username">Username</label>
        <div class="ui left icon input">
           <input type="text" name="username" class="form-control register-username" placeholder="Username">
          <i class="user icon"></i>
        </div>
      </div>

    <!-- Email Input -->
      <div class="field">
        <label for="emailAddress">Email Address</label>
        <div class="ui left icon input">
          <input type="email" name="emailAddress" class="form-control register-email" placeholder="Email Address">
          <i class="mail icon"></i>
        </div>
      </div>

    <!-- Passowrd Input -->
      <div class="field">
        <label>Password</label>
        <div class="ui left icon input">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password">
          <i class="lock icon"></i>
        </div>
      </div>

    <!-- Passowrd Verification Input -->
      <div class="field">
        <label>Password Verification</label>
        <div class="ui left icon input">
          <input type="password" class="form-control" value="" name="cpassword" placeholder="Password Verification">
          <i class="lock icon"></i>
        </div>
      </div>

    <!-- Register Button -->
      <div class="registerButton_Container ">
        <button class="green ui labeled icon button massive" id="registerButton" type="submit" data-loading-text="Please Wait...">
          <i class="signup icon"></i>
            Register
        </button>
      </div>

    <!-- Allready a Member Button -->
      <div class="alreadyMember">
        <p>Already a member?</p>
          <a href="{{pathFor 'login.link'}}">Login</a>
      </div>
    
    </form>
  </div>

<!-- Error Handeling -->
  <div id="ErrorMessage">
    {{> ErrorMessage}}
  </div>
</template>
