@import 'elf'
//debug(color=blue)


///////////////////////
// Header Title
///////////////////////
.registerTitle_Container
  align-children(direction=horizontal)
  i
    font-size: 6em !important

///////////////////////
// Form Segment
///////////////////////
.register_Container
  span(1/2)
  shift(1/4)
  background: #F5F5F5 !important
  .field
    cf()
    column(1/2)
    cycle(2)
    min-height: 77px
    label
      column(1)
    .input
      span(1)
      

///////////////////////
// Register Button
///////////////////////
.registerButton_Container
  column(1/2)
  margin-top: 15px
  button
    column(1)

///////////////////////
// Allready a Member Button
///////////////////////
.alreadyMember
  column(1/4)
  shift(1/4)
  transform: translateY(100%);
  text-align: center
  p
    margin: 0
